<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5431/cinema</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="connection.pool_size">10</property>
        <mapping package="com.depdiller.insertionapp.model"/>
        <mapping class="com.depdiller.insertionapp.model.City"/>
        <mapping class="com.depdiller.insertionapp.model.Country"/>
        <mapping class="com.depdiller.insertionapp.model.Film"/>
        <mapping class="com.depdiller.insertionapp.model.Genre"/>
        <mapping class="com.depdiller.insertionapp.model.ParticipationValue"/>
        <mapping class="com.depdiller.insertionapp.model.PersonParticipationInFilm"/>
        <mapping class="com.depdiller.insertionapp.model.Person"/>
        <mapping class="com.depdiller.insertionapp.model.Website"/>
        <mapping class="com.depdiller.insertionapp.model.WebsiteLink"/>
    </session-factory>
</hibernate-configuration>